<div >
    <top-bar></top-bar>
  
      <div class="ssa-container">
          <div class="ssa-title">Post Approve Indent Summary</div>
          <div class="ssa-actions">
            
           
            
          </div>
      </div>
      <div  ng-controller="ConfigurationController">
          <div class="changale-tabs">
            <div class="changale-tab"
            ng-class="{active: selectedTabItem === 'items'}"
            ng-click="selectTab('items')">Indent Summary Details</div>
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'vendor'}"
                   ng-click="selectTab('vendor')">Vendor</div> -->
                   
             
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'settings'}"
                   ng-click="selectTab('settings')">Settings</div> -->
                  
            </div>
            <div class="changale-tab-content" ng-show="selectedTabItem === 'items'">
              <div class="form-card-wrapper">
                  <div class="form-section-header">Indent Summary</div>
                  <div class="form-grid-item create-indent">
                    <div class="form-input-wrapper">
                      <label>Indent No</label>
                      <input type="text" value="1234" />                   
                    </div>
                    <div class="form-input-wrapper">
                      <label>Requestor Store</label>
                      <input type="text" value="Sham Store" />                   
                   
                    </div>
                    <div class="form-input-wrapper">
                        <label>Requestor Name</label>
                        <input type="text" value="Sumit Sham" />
                      </div>
                      <div class="form-input-wrapper">
                        <label>Requester Date</label>
                        <input type="date" value="" />
                      </div>
                      <div class="form-input-wrapper">
                        <label>Previewd By</label>
                        <input type="date" value="" />
                      </div>
                      <div class="form-input-wrapper">
                        <label>Review Date</label>
                        <input type="date" value="" />
                      </div>
                   
                    <div class="form-input-wrapper">
                      <label>Supplier Store</label>
                      <input type="text" value="KFC" />
                  
                     </div>
                    <div class="form-input-wrapper">
                      <label>Status</label>
                      <select>
                        <option>Pending</option>
                        <option>Sellable</option>
                        <option>Rejected</option>

                      </select>
                    </div>
                    <div class="form-input-wrapper">
                        <label>Arroval Remaks</label>
                        <input type="text" value="Yes" />
                    
                       </div>
                  </div>
              
                  <div class="form-section-header" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <span>Item Details</span>
                  </div>
                  
                  <div class="item-indent-table-wrapper">
                    <div class="item-indent-table">
                      <!-- Header Row -->
                      <div class="item-indent-row item-indent-header">
                        <!-- <div class="item-indent-cell item-indent-checkbox"><input type="checkbox" /></div> -->
                        <div class="item-indent-cell" style="min-width: 100px;"> 
                          <span>Serial No.</span>
                         
                        </div>
                        <div class="item-indent-cell"> 
                          <span> 
                            Item Name
                          </span>
                        </div>
                        <div class="item-indent-cell">
                          <span> 
                           Category
                          </span>
                         
                        </div>
                        <div class="item-indent-cell">
                          <span> 
                           UOM
                          </span>
                          
                        </div>
                      
                        <div class="item-indent-cell">
                          <span> 
                           Qty Requested
                          </span>
                        
                        </div>
                        <div class="item-indent-cell">
                            <span> 
                                Approve
                            </span>
                          
                          </div>
                       
                          <div class="item-indent-cell">
                            <span> 
                                Action Taken
                            </span>
                          
                          </div>
                          <div class="item-indent-cell">
                            <span> 
                                Remarks
                            </span>
                          
                          </div>
                        
                        
                      </div>
                  
                      <!-- Data Row Example -->
                      <div class="item-indent-row">
                        <!-- <div class="item-indent-cell item-indent-checkbox"><input type="checkbox" /></div> -->
                        <div class="item-indent-cell" style="color:#0078d4 ; min-width: 100px;"><span class="text-wrap">1</span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Hakuna Matana</span> </span>
                        </div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Veg</span> </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Kg</span></span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">89</span>
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> Yes
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> Approved
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">89</span>
                        </span></div>
                      </div>
                      <div class="item-indent-row">
                        <!-- <div class="item-indent-cell item-indent-checkbox"><input type="checkbox" /></div> -->
                        <div class="item-indent-cell" style="color:#0078d4 ; min-width: 100px;"><span class="text-wrap">2</span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Hakuna Matana</span> </span>
                        </div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Veg</span> </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Kg</span></span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">89</span>
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> Yes
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> Approved
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">89</span>
                        </span></div>
                      </div>  <div class="item-indent-row">
                        <!-- <div class="item-indent-cell item-indent-checkbox"><input type="checkbox" /></div> -->
                        <div class="item-indent-cell" style="color:#0078d4 ; min-width: 100px;"><span class="text-wrap">3</span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Hakuna Matana</span> </span>
                        </div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Veg</span> </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Kg</span></span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">89</span>
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> Yes
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> Approved
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">89</span>
                        </span></div>
                      </div>
                 
                     
                      <!-- You can repeat the .vendor-row above for each vendor -->
                    </div>
                 
              
                  </div>
                  <div class="form-section-header"></div>
                  <div class="form-grid-item create-indent">
                    <!-- <div class="form-input-wrapper">
                      <label>Approval Remarks</label>
                      <textarea style="min-height: 70px;"></textarea>
                    </div> -->
                   
                  </div>
                  

            </div>
            
      </div>
   </diV>
   