<div ng-controller="ConfigurationController" >
    <top-bar></top-bar>
  
      <div class="ssa-container">
          <div class="ssa-title">Purchase Order Approval</div>
          <div class="ssa-actions">
            <button class="ssa-btn ssa-btn-cancel">Reset</button>
              <button class="ssa-btn ssa-btn-save">
                <span class="material-symbols-outlined">
                    Search
                    </span> Search
              </button>
              <div ng-controller="ConfigurationController" class="dropdown-wrapper" style="margin-top: 5px;">
                <!-- Trigger Button -->
                <!-- <button class="more-options" ng-click="toggleDropdown($event)">⋯</button> -->
              
                <!-- Dropdown Menu -->
                <div class="dropdown-menu" ng-show="showDropdown">
                  <ul>
                    <!-- <li><a href="#" class="inline-link"><span class="material-symbols-outlined">csv</span> <span class="view-more-name">Export to CSV</span> </a></li> 
                    <li><a href="#" class="inline-link"><span class="material-symbols-outlined">publish</span><span class="view-more-name">Import Menu Item</span> </a></li> -->
                    <li><a href="#" class="inline-link"><span class="material-symbols-outlined">
                      download
                      </span><span class="view-more-name">Download Excell</span></a></li>
                    <!-- <li><a href="#" class="inline-link"><span class="material-symbols-outlined">
                      download
                      </span> <span class="view-more-name">Current View Export</span></a></li> -->
                      
                      
                  </ul>
                </div>
              </div>
           
            
          </div>
      </div>
      <div  >
          <div class="changale-tabs">
            <div class="changale-tab"
            ng-class="{active: selectedTabItem === 'items'}"
            ng-click="selectTab('items')">Purchase Order Information</div>
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'vendor'}"
                   ng-click="selectTab('vendor')">Vendor</div> -->
                   
             
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'settings'}"
                   ng-click="selectTab('settings')">Settings</div> -->
                  
            </div>
            <div class="changale-tab-content" ng-show="selectedTabItem === 'items'">
              <div class="form-card-wrapper">
                  <div class="form-section-header">Purchase Details</div>
                  <div class="form-grid-item create-indent">
                    <div class="form-input-wrapper">
                        <label>Po Number</label>
                        <input>                    
                      </div>
                    
                    <div class="form-input-wrapper">
                      <label>Vendor</label>
                     
                      <div class="dropdown-wrapper-custom">
                        <div class="dropdown-header-custom" ng-click="toggleDropdowntemtype()">
                          <span>{{ selectedItem1 || "Shanti Pvt Co"  }}</span>
                          <span class="material-icons arrow-icon">
                            {{ dropdownOpen ? 'expand_less' : 'expand_more' }}
                          </span>                        </div>
                        <div class="dropdown-content-custom" ng-class="{ 'show': dropdownOpenitemtype }">
                          <input type="text" ng-model="searchText" placeholder="Search...">
                          <div class="dropdown-option-custom">
                            
                            Shanti Pvt Co
                          </div>
                          <div class="dropdown-option-custom">
                            Shakti lt co
                     </div>
                    </div>
                     </div>                    
                    </div>
                    <div class="form-input-wrapper">
                      <label>Store</label>
                      
                      <div class="dropdown-wrapper-custom">
                        <div class="dropdown-header-custom" ng-click="toggleDropdowntemtype1()">
                          <span>{{ selectedItem1 || "F&B"  }}</span>
                          <span class="material-icons arrow-icon">
                            {{ dropdownOpen ? 'expand_less' : 'expand_more' }}
                          </span>                        </div>
                        <div class="dropdown-content-custom" ng-class="{ 'show': dropdownOpenitemtype }">
                          <input type="text" ng-model="searchText" placeholder="Search...">
                          <div class="dropdown-option-custom">
                            F&B 
                          </div>
                          <div class="dropdown-option-custom">
                            Shakti lt co
                     </div>
                    </div>
                     </div>                    
                    </div>
                  
                      
                   
                    <div class="form-input-wrapper">
                      <label>From</label>
                    <input type="date">                  
                     </div>
                     <div class="form-input-wrapper">
                        <label>To</label>
                      <input type="date">                  
                       </div>
                   
                    
                      <div class="form-input-wrapper">
                        <label>Approval Status</label>
                        <select>
                            <option>Approved</option>
                            <option>Pending</option>
                            <option>Rejected</option>

                          </select>                  </div>
                  </div>
                  
              
                  <div class="form-section-header" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <span>Purchase Order List</span>
                   
                  </div>

                  
                  <div class="expiry-table-wrapper">
                    <div class="expiry-table Po-Approve">
                      <!-- Header Row -->
                      <div class="expiry-row expiry-header">
                        <div class="expiry-cell Po-Approve expiry-checkbox"><input type="checkbox" /></div>
                        <div class="expiry-cell Po-Approve"> 
                          <span>PO Number</span>
                         
                        </div>
                        <div class="expiry-cell Po-Approve"> 
                          <span> 
                            Vendor
                          </span>
                         
                        </div>
                        <div class="expiry-cell Po-Approve">
                          <span> 
                            Po Date
                          </span>
                          
                        </div>
                        <div class="expiry-cell Po-Approve">
                          <span> 
                           Created By
                          </span>
                          
                        </div>
                        <div class="expiry-cell Po-Approve">
                          <span> 
                           Total Amount
                          </span>
                          
                        </div>
                        <div class="expiry-cell Po-Approve">
                          <span> 
                            Status
                          </span>
                          
                        </div>
                        <div class="expiry-cell Po-Approve">
                          <span> 
                           Action
                          </span>
                          <span>
                            <!-- <i class="fa fa-arrow-down" aria-hidden="true"></i> -->
                          </span>
                        </div>
                        
                        
                        <!-- <div class="expiry-cell">Current Status</div> -->
                        
                      </div>
                  
                      <!-- Data Row Example -->
                      <div class="expiry-row">
                        <div class="expiry-cell Po-Approve  expiry-checkbox"><input type="checkbox" /></div>
                        <div class="expiry-cell Po-Approve" style="color:#0078d4 ;"><span class="text-wrap"> 2LLC</span></div>
                        <div class="expiry-cell Po-Approve"><span class="text-wrap">ABC</span></div>
                        <div class="expiry-cell Po-Approve"><span class="text-wrap">09/04/2025</span></div>
                        <div class="expiry-cell Po-Approve"><span class="text-wrap">Test 1</span></div>
                        <div class="expiry-cell Po-Approve"><span class="text-wrap">6500</span></div>
                        <div class="expiry-cell Po-Approve"><span class="text-wrap">Pending</span></div>
                        <div class="expiry-cell Po-Approve"><span class="vendor-status active" ng-click="goToPOView()">View</span></div>



                        
                        <!-- <div class="expiry-cell"><span class="expiry-status active">Active</span></div> -->
                      </div>
                     
                      <!-- You can repeat the .vendor-row above for each vendor -->
                    </div>
                  </div>
                  <div class="ssa-container" style="display: flex; justify-content: center; align-items: center;">
                    <div class="ssa-actions" style="text-align: center;">
                      <button class="ssa-btn ssa-btn-cancel">Approve  Seleted</button>
                      <button class="ssa-btn ssa-btn-save">Reject Seleted</button>
                      <div ng-controller="ConfigurationController" class="dropdown-wrapper" style="margin-top: 5px;">
                        <!-- Trigger Button -->
                        <!-- Dropdown Menu -->
                      </div>
                    </div>
                  </div>
                  

            </div>
            
      </div>
   </diV>
  
   <div id="returnReplacementPopup" ng-show="false">
    <div class="popup-content">
      <!-- <h3>Return/Replacement Details</h3> -->
      <div class="">
        <div class="form-group">
          <label for="itemCode">Remark</label>
          <textarea></textarea>
        </div>
        
        <div class="popup-buttons full-width">
          <button>Confirm</button>
          <button>Cancel</button>
          <!-- <button>Request Replacement</button> -->
        </div>
      </div>
    </div>
  </div>
  </div>