<div >
    <top-bar></top-bar>
  
      <div class="ssa-container">
          <div class="ssa-title">Advance Inventory Search</div>
          <div class="ssa-actions">
              <button class="ssa-btn ssa-btn-cancel">Reset</button>
              <button class="ssa-btn ssa-btn-save">
                <span class="material-symbols-outlined">
                    Search
                    </span> Search
              </button>
              
           
            
          </div>
      </div>
      <div  ng-controller="ConfigurationController">
          <div class="changale-tabs">
            <div class="changale-tab"
            ng-class="{active: selectedTabItem === 'items'}"
            ng-click="selectTab('items')">Inventory Details</div>
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'vendor'}"
                   ng-click="selectTab('vendor')">Vendor</div> -->
                   
             
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'settings'}"
                   ng-click="selectTab('settings')">Settings</div> -->
                  
            </div>
            <div class="changale-tab-content" ng-show="selectedTabItem === 'items'">
              <div class="form-card-wrapper">
                  <div class="form-section-header">Inventory</div>
                  <div class="form-grid-item create-indent">
                    <div class="form-input-wrapper">
                      <label>Store Name</label>
                      <select>
                        <option>H.k Store</option>
                        <option>K.p</option>

                      </select>                    </div>
                    <div class="form-input-wrapper">
                      <label>Item Name</label>
                      <select>
                        <option>Maggie</option>
                        <option>Milk</option>
                      </select>                    
                    </div>
                    <div class="form-input-wrapper">
                        <label>Category</label>
                        <select>
                            <option>Veg</option>
                            <option>Non Veg</option>
                          </select>                      </div>
                      <div class="form-input-wrapper">
                        <label>From</label>
                        <input type="date" value="" />
                      </div>
                      <div class="form-input-wrapper">
                        <label>To</label>
                        <input type="date" value="" />
                      </div>
                      <div class="form-input-wrapper">
                        <label>Vendor</label>
                        <select>
                          <option>One</option>
                          <option>Two</option>
                        </select>
                      </div>
                      <div class="form-input-wrapper">
                        <label>UOM</label>
                        <select>
                            <option>K.G</option>
                            <option>F.P</option>
                          </select> 
                      </div>
                      <div class="form-input-wrapper">
                        <label>Batch No</label>
                        <input type="text" value="" />
                    
                       </div>
                    <div class="form-input-wrapper">
                      <label>Expiry Date</label>
                      <input type="date" value="KFC" />
                  
                     </div>
                    <div class="form-input-wrapper">
                      <label>Consumtion Method</label>
                      <select>
                        <option>FIFO</option>
                        <option>WAM</option>
                      </select>
                    </div>
                    <div class="form-input-wrapper">
                        <label>Stock Status</label>
                        <select>
                            <option>In Stock</option>
                            <option>Out of Stock</option>
                            <option>Below Order Level</option>
                          </select>
                    
                       </div>
                  </div>
              
                  <div class="form-section-header" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <span>Search Result</span>
                  </div>
                  
                  <div class="item-indent-table-wrapper">
                    <div class="item-indent-table">
                      <!-- Header Row -->
                      <div class="item-indent-row item-indent-header">
                        <!-- <div class="item-indent-cell item-indent-checkbox"><input type="checkbox" /></div> -->
                        <div class="item-indent-cell" style="min-width: 100px;"> 
                          <span>Serial No.</span>
                         
                        </div>
                        <div class="item-indent-cell"> 
                          <span> 
                            Item Name
                          </span>
                        </div>
                        <div class="item-indent-cell">
                          <span> 
                           Category
                          </span>
                         
                        </div>
                        <div class="item-indent-cell">
                          <span> 
                           UOM
                          </span>
                          
                        </div>
                      
                        <div class="item-indent-cell">
                          <span> 
                           Qty Avilable
                          </span>
                        
                        </div>
                        <div class="item-indent-cell">
                            <span> 
                                Expiry Date
                            </span>
                          
                          </div>
                       
                          <div class="item-indent-cell">
                            <span> 
                                Batch No
                            </span>
                          
                          </div>
                          <div class="item-indent-cell">
                            <span> 
                                Vendor
                            </span>
                          
                          </div>
                        
                        
                      </div>
                  
                      <!-- Data Row Example -->
                      <div class="item-indent-row">
                        <!-- <div class="item-indent-cell item-indent-checkbox"><input type="checkbox" /></div> -->
                        <div class="item-indent-cell" style="color:#0078d4 ; min-width: 100px;"><span class="text-wrap">1</span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Hakuna Matana</span> </span>
                        </div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Veg</span> </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Kg</span></span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">89</span>
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> 25/05/2025
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> Approved
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">One</span>
                        </span></div>
                      </div>
                      <div class="item-indent-row">
                        <!-- <div class="item-indent-cell item-indent-checkbox"><input type="checkbox" /></div> -->
                        <div class="item-indent-cell" style="color:#0078d4 ; min-width: 100px;"><span class="text-wrap">2</span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Hakuna Matana</span> </span>
                        </div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Veg</span> </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Kg</span></span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">89</span>
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> 25/05/2025
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> Approved
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">TWo</span>
                        </span></div>
                      </div>  <div class="item-indent-row">
                        <!-- <div class="item-indent-cell item-indent-checkbox"><input type="checkbox" /></div> -->
                        <div class="item-indent-cell" style="color:#0078d4 ; min-width: 100px;"><span class="text-wrap">3</span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Hakuna Matana</span> </span>
                        </div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Veg</span> </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">Kg</span></span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">89</span>
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> 25/05/2025
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"> Approved
                        </span></div>
                        <div class="item-indent-cell"><span class="text-wrap"><span class="text-wrap">THREE</span>
                        </span></div>
                      </div>
                 
                     
                      <!-- You can repeat the .vendor-row above for each vendor -->
                    </div>
                 
              
                  </div>
                  <div class="form-section-header"></div>
                  <div class="form-grid-item create-indent">
                    <!-- <div class="form-input-wrapper">
                      <label>Approval Remarks</label>
                      <textarea style="min-height: 70px;"></textarea>
                    </div> -->
                   
                  </div>
                  

            </div>
            
      </div>
   </diV>
   