<div ng-controller="ConfigurationController" >
    <top-bar></top-bar>
  
      <div class="ssa-container">
          <div class="ssa-title">Expiry Tracking</div>
          <div class="ssa-actions">
            <button class="ssa-btn ssa-btn-cancel">Reset</button>
              <button class="ssa-btn ssa-btn-save">
                <span class="material-symbols-outlined">
                    Search
                    </span> Search
              </button>
              <div ng-controller="ConfigurationController" class="dropdown-wrapper" style="margin-top: 5px;">
                <!-- Trigger Button -->
                <button class="more-options" ng-click="toggleDropdown($event)">⋯</button>
              
                <!-- Dropdown Menu -->
                <div class="dropdown-menu" ng-show="showDropdown">
                  <ul>
                    <!-- <li><a href="#" class="inline-link"><span class="material-symbols-outlined">csv</span> <span class="view-more-name">Export to CSV</span> </a></li> 
                    <li><a href="#" class="inline-link"><span class="material-symbols-outlined">publish</span><span class="view-more-name">Import Menu Item</span> </a></li> -->
                    <li><a href="#" class="inline-link"><span class="material-symbols-outlined">
                      download
                      </span><span class="view-more-name">Download Excell</span></a></li>
                    <!-- <li><a href="#" class="inline-link"><span class="material-symbols-outlined">
                      download
                      </span> <span class="view-more-name">Current View Export</span></a></li> -->
                      
                      
                  </ul>
                </div>
              </div>
           
            
          </div>
      </div>
      <div  >
          <div class="changale-tabs">
            <div class="changale-tab"
            ng-class="{active: selectedTabItem === 'items'}"
            ng-click="selectTab('items')">Expiry Tracking Information</div>
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'vendor'}"
                   ng-click="selectTab('vendor')">Vendor</div> -->
                   
             
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'settings'}"
                   ng-click="selectTab('settings')">Settings</div> -->
                  
            </div>
            <div class="changale-tab-content" ng-show="selectedTabItem === 'items'">
              <div class="form-card-wrapper">
                  <div class="form-section-header">Request Details</div>
                  <div class="form-grid-item create-indent">
                    
                    <div class="form-input-wrapper">
                      <label>Expiry</label>
                      <div class="dropdown-wrapper-custom">
                        <div class="dropdown-header-custom" ng-click="toggleDropdowntemtype()">
                          <span>{{ selectedItem1 || "Raw"  }}</span>
                          <span class="material-icons arrow-icon">
                            {{ dropdownOpen ? 'expand_less' : 'expand_more' }}
                          </span>                        </div>
                        <div class="dropdown-content-custom" ng-class="{ 'show': dropdownOpenitemtype }">
                          <input type="text" ng-model="searchText" placeholder="Search...">
                          <div class="dropdown-option-custom">
                            
                            Raw
                          </div>
                          <div class="dropdown-option-custom">
                            Sellable
                     </div>
                    </div>
                     </div>                          
                    </div>
                  
                      
                   
                    <div class="form-input-wrapper">
                      <label>Category</label>
                      <div class="dropdown-header-custom" ng-click="toggleDropdowntemtype1()">
                        <span>{{ selectedItem1 || "Veg"  }}</span>
                        <span class="material-icons arrow-icon">
                          {{ dropdownOpen ? 'expand_less' : 'expand_more' }}
                        </span>                        </div>
                      <div class="dropdown-content-custom" ng-class="{ 'show': dropdownOpenitemtype1 }">
                        <input type="text" ng-model="searchText" placeholder="Search...">
                        <div class="dropdown-option-custom">
                          
                          Veg
                        </div>
                        <div class="dropdown-option-custom">
                          Replacement
                   
                  </div>
                   </div>                   
                     </div>
                   
                    
                      <div class="form-input-wrapper">
                        <label>Expiry Within</label>
                        <div class="dropdown-header-custom" ng-click="toggleDropdowntemtype1()">
                          <span>{{ selectedItem1 || "15"  }}</span>
                          <span class="material-icons arrow-icon">
                            {{ dropdownOpen ? 'expand_less' : 'expand_more' }}
                          </span>                        </div>
                        <div class="dropdown-content-custom" ng-class="{ 'show': dropdownOpenitemtype1 }">
                          <input type="text" ng-model="searchText" placeholder="Search...">
                          <div class="dropdown-option-custom">
                            
                           15
                          </div>
                          <div class="dropdown-option-custom">
                            12
                     
                    </div>
                     </div>                   </div>
                  </div>
                  
              
                  <!-- <div class="form-section-header" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <span>Item Details</span>
                    <div>
                        <button class="new-vendor"><i class="fas fa-plus"></i> Add</button>
                    </div>
                  </div> -->
                  
                  <div class="expiry-table-wrapper">
                    <div class="expiry-table">
                      <!-- Header Row -->
                      <div class="expiry-row expiry-header">
                        <div class="expiry-cell expiry-checkbox"><input type="checkbox" /></div>
                        <div class="expiry-cell"> 
                          <span>Item Code</span>
                         
                        </div>
                        <div class="expiry-cell"> 
                          <span> 
                            Item Name
                          </span>
                         
                        </div>
                        <div class="expiry-cell">
                          <span> 
                           Batch No.
                          </span>
                          
                        </div>
                        <div class="expiry-cell">
                          <span> 
                           Qty
                          </span>
                          
                        </div>
                        <div class="expiry-cell">
                          <span> 
                           UOM
                          </span>
                          
                        </div>
                        <div class="expiry-cell">
                          <span> 
                           expiry Date
                          </span>
                          
                        </div>
                        <div class="expiry-cell">
                          <span> 
                           Store
                          </span>
                          <span>
                            <!-- <i class="fa fa-arrow-down" aria-hidden="true"></i> -->
                          </span>
                        </div>
                        <div class="expiry-cell">
                            <span> 
                             Status
                            </span>
                            <span>
                              <!-- <i class="fa fa-arrow-down" aria-hidden="true"></i> -->
                            </span>
                          </div>
                        
                        <!-- <div class="expiry-cell">Current Status</div> -->
                        
                      </div>
                  
                      <!-- Data Row Example -->
                      <div class="expiry-row">
                        <div class="expiry-cell expiry-checkbox"><input type="checkbox" /></div>
                        <div class="expiry-cell" style="color:#0078d4 ;"><span class="text-wrap"> 2LLC</span></div>
                        <div class="expiry-cell"><span class="text-wrap">Rice</span></div>
                        <div class="expiry-cell"><span class="text-wrap">454454554</span></div>
                        <div class="expiry-cell"><span class="text-wrap">23</span></div>
                        <div class="expiry-cell"><span class="text-wrap">kg</span></div>
                        <div class="expiry-cell"><span class="text-wrap">22/12/25</span></div>
                        <div class="expiry-cell"><span class="text-wrap">Naer</span></div>
                        <div class="expiry-cell"><span class="text-wrap">pen</span></div>

                        
                        <!-- <div class="expiry-cell"><span class="expiry-status active">Active</span></div> -->
                      </div>
                     
                      <!-- You can repeat the .vendor-row above for each vendor -->
                    </div>
                  </div>
                  <div class="ssa-container" style="display: flex; justify-content: center; align-items: center;">
                    <div class="ssa-actions" style="text-align: center;">
                      <button class="ssa-btn ssa-btn-cancel" ng-click="showOutletModal = true">Batch Disposal</button>
                      <button class="ssa-btn ssa-btn-save">Transfer</button>
                      <div ng-controller="ConfigurationController" class="dropdown-wrapper" style="margin-top: 5px;">
                        <!-- Trigger Button -->
                        <!-- Dropdown Menu -->
                      </div>
                    </div>
                  </div>
                  

            </div>
            
      </div>
   </diV>
  
  <div id="returnReplacementPopup" ng-show="showOutletModal">
    <div class="popup-content" style="min-width: 900px;">
      <h3>Transfer Item</h3>
      <div class="popupexpiry-table-wrapper">
        <div class="popupexpiry-table">
          <!-- Header Row -->
          <div class="popupexpiry-row popupexpiry-header">
            <div class="popupexpiry-cell popupexpiry-checkbox"><input type="checkbox" /></div>
            <div class="popupexpiry-cell"> 
              <span> Item Name</span>
             
            </div>
            <div class="popupexpiry-cell"> 
              <span> 
                Qty
              </span>
             
            </div>
            <div class="popupexpiry-cell">
              <span> 
               UOM
              </span>
              
            </div>
            <div class="popupexpiry-cell">
              <span> 
               Expiry Date
              </span>
             
            </div>
            <div class="popupexpiry-cell">
              <span> 
               Current Store
              </span>
             
            </div>
            <div class="popupexpiry-cell">
              <span> 
               Move to Store
              </span>
             
            </div>
           
            
            
            <!-- <div class="store-cell">Current Status</div> -->
            
          </div>
      
          <!-- Data Row Example -->
          <div class="popupexpiry-row">
            <div class="popupexpiry-cell popupexpiry-checkbox"><input type="checkbox" /></div>
            <div class="popupexpiry-cell" style="color:#0078d4 ;"><span class="text-wrap">Premiu</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">1224</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">454454554</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">Veg</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">76328</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap"> <select>
                <option>Raw</option>
                <option>Sellable</option>
              </select> </span></div>
            
            <!-- <div class="store-cell"><span class="store-status active">Active</span></div> -->
          </div>
          <div class="popupexpiry-row">
            <div class="popupexpiry-cell popupexpiry-checkbox"><input type="checkbox" /></div>
            <div class="popupexpiry-cell" style="color:#0078d4 ;"><span class="text-wrap">Premiu</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">1224</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">454454554</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">Veg</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">76328</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap"> <select>
                <option>Raw</option>
                <option>Sellable</option>
              </select> </span></div>
            
            <!-- <div class="store-cell"><span class="store-status active">Active</span></div> -->
          </div> <div class="popupexpiry-row">
            <div class="popupexpiry-cell popupexpiry-checkbox"><input type="checkbox" /></div>
            <div class="popupexpiry-cell" style="color:#0078d4 ;"><span class="text-wrap">Premiu</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">1224</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">454454554</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">Veg</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">76328</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap"> <select>
                <option>Raw</option>
                <option>Sellable</option>
              </select> </span></div>
            
            <!-- <div class="store-cell"><span class="store-status active">Active</span></div> -->
          </div> <div class="popupexpiry-row">
            <div class="popupexpiry-cell popupexpiry-checkbox"><input type="checkbox" /></div>
            <div class="popupexpiry-cell" style="color:#0078d4 ;"><span class="text-wrap">Premiu</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">1224</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">454454554</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">Veg</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap">76328</span></div>
            <div class="popupexpiry-cell"><span class="text-wrap"> <select>
                <option>Raw</option>
                <option>Sellable</option>
              </select> </span></div>
            
            <!-- <div class="store-cell"><span class="store-status active">Active</span></div> -->
          </div>
         
          <!-- You can repeat the .vendor-row above for each vendor -->
        </div>
      </div>
  
        <div class="popup-buttons full-width">
          
          <button ng-click="showOutletModal = false">Transfer</button>
        </div>
      </div>
    </div>
  </div>