<div class="top-bar">
    <div class="left-section">
        <div class="menu-item hotel-name">
            <span class="hotel-name">Grand Hotel</span>
            <span class="nav-icon hotel_name">                   
         <i class="fa fa-chevron-down"></i>

            </span>        
        </div>
    </div>
    <div class="right-section">
        <div class="user">
            <span class="username">Admin
                <br>
                <span class="contact">1800 3000 7787 | <a href="">support@jubo.com</a></span>
            </span>
            <img src="user-avatar.png" alt="User Avatar" class="avatar">
        </div>
    </div>
</div>