<div >
    <top-bar></top-bar>
  
      <div class="ssa-container">
          <div class="ssa-title">Discrepancy Resolution</div>
          <div class="ssa-actions">
            <!-- <button class="ssa-btn ssa-btn-save">
                 Confirm Reciept
              </button> -->
              <!-- <button class="ssa-btn ssa-btn-save">
                Reset
              </button> -->
            <!-- <button class="ssa-btn ssa-btn-cancel">Report Discrepancy</button> -->
           
            
          </div>
      </div>
      <div  ng-controller="ConfigurationController">
          <div class="changale-tabs">
            <div class="changale-tab"
            ng-class="{active: selectedTabItem === 'items'}"
            ng-click="selectTab('items')">Discrepancy Details</div>
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'vendor'}"
                   ng-click="selectTab('vendor')">Vendor</div> -->
                   
             
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'settings'}"
                   ng-click="selectTab('settings')">Settings</div> -->
                  
            </div>
            <div class="changale-tab-content" ng-show="selectedTabItem === 'items'">
              <div class="form-card-wrapper">
                  <div class="form-section-header"></div>
                  <div class="form-grid-item create-indent">
                    <div class="form-input-wrapper">
                      <label>From</label>
                      <input type="date" value="" />                   
                    </div>
                    <div class="form-input-wrapper">
                      <label>To</label>
                      <input type="date" value="" />                                      
                    </div>
                   
                      <div class="form-input-wrapper">
                        <label>Store</label>
                        <select>
                            <option>Osis</option>
                            <option>Vikash Complex</option>
                          </select> 
                      </div>
                   
                  
                    <div class="form-input-wrapper">
                      <label>Search By</label>
                      <select>
                        <option>Indent No</option>
                        <option>Issue Note No</option>
                        <option>Item Name</option>
                      </select>             
                    </div>
                    <div class="form-input-wrapper">
                        <label></label>

                        <button class="ssa-btn ssa-btn-save" style="width: 30%; height: 100%;margin-top: 15px; display: block;;">
                            Search
                         </button>             
                       </div>
                  
                  </div>
              
                  <div class="form-section-header" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <span>Discrepancy Details</span>
                  </div>
                  
                  <div class="discrepancy-resolution-table-wrapper">
                    <div class="discrepancy-resolution-table">
                      <!-- Header Row -->
                      <div class="discrepancy-resolution-row discrepancy-resolution-header">
                        <!-- <div class="discrepancy-resolution-cell discrepancy-resolution-checkbox"><input type="checkbox" /></div> -->
                        <div class="discrepancy-resolution-cell" style="min-width: 140px;"> 
                          <span>Discrepancy Id</span>
                        
                        </div>
                        <div class="discrepancy-resolution-cell"> 
                            <span> 
                              Indent No.
                            </span>
                          
                          </div>
                        <div class="discrepancy-resolution-cell"> 
                          <span> 
                            Item Name
                          </span>
                         
                        </div>
                        <div class="discrepancy-resolution-cell">
                          <span> 
                           Store
                          </span>
                         
                        </div>
                        <div class="discrepancy-resolution-cell">
                          <span> 
                            Discrepancy Type
                          </span>
                         
                        </div>
                        <div class="discrepancy-resolution-cell">
                          <span> 
                           Expected Qty
                          </span>
                         
                        </div>
                        <div class="discrepancy-resolution-cell">
                          <span> 
                            Actual Qty
                          </span>
                      
                        </div>
                        <div class="discrepancy-resolution-cell">
                            <span> 
                                Status
                            </span>
                          
                          </div>
                          <div class="store-cell">Action</div>

                         
                        
                        
                        
                      </div>
                  
                      <!-- Data Row Example -->
                      <div class="discrepancy-resolution-row">
                        <!-- <div class="discrepancy-resolution-cell discrepancy-resolution-checkbox"><input type="checkbox" /></div> -->
                        <div class="discrepancy-resolution-cell" style="color:#0078d4 ; min-width: 140px;"><span class="text-wrap">1</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">23</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">kg</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">Veg</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">2354</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">YES</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">2354</span></div> 
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">2354</span></div> 
                        <div class="store-cell"><span class="vendor-status active">Resolve</span></div>
                        <div class="discrepancy-modal" ng-show="false">                           
                            <div class="discrepancy-modal-content">
                                <h4 style="padding: 15px 0px 10px 20px;">Resolution Action</h4>
                                <hr>
                                <div style="margin: 20px;">
                                    <label for="storeName">Resolution Type</label>
                                
                                    <select id="storeName">
                                      <option>Select Store</option>
                                      <option>Store A</option>
                                      <option>Store B</option>
                                    </select>
                                    <label for="outletName">New Adjust Qty</label>
                                    <input type="text" id="outletName" placeholder="Enter Outlet Name">
                                
                                    <label for="storeRef">Store Pref. No.</label>
                                    <select id="storeRef">
                                      <option>Approve Req.</option>
                                      <option>Yes</option>
                                      <option>No</option>
                                    </select>
                                
                                    <div class="discrepancy-modal-buttons" >
                                      <button class="outlet-save-btn" style="margin-bottom: 10px;">Submit</button>
                                      <!-- <button class="outlet-cancel-btn">Cancel</button> -->
                                    </div>
                                  </div>
                                </div>
                                   
                                

                               

                      </div>
                      <!-- popup -->
                      <div class="outlet-modal" ng-show="false">
                        <div class="outlet-modal-content">
                      
                          <label for="storeName">Resolution Type</label>
                          <select id="storeName">
                            <option>Select Store</option>
                            <option>Store A</option>
                            <option>Store B</option>
                          </select>
                      
                        
                      
                          <div class="outlet-modal-buttons">
                            <button class="outlet-save-btn">Submit</button>
                          </div>
                        </div>
                      </div>
                      <!-- <pop up></pop> -->
                      <div class="outlet-modal" ng-show="false">
                        <div class="outlet-modal-content">
                          
                          
                      
                          <label for="storeName">Resolution Type</label>
                          <select id="storeName">
                            <option>Select Store</option>
                            <option>Store A</option>
                            <option>Store B</option>
                          </select>
                          <label for="outletName">Reason For Rejection</label>
                          <input type="text" id="outletName" placeholder="Enter Outlet Name">
                          <div class="outlet-modal-buttons">
                            <button class="outlet-save-btn">Submit</button>
                          </div>
                        </div>
                      </div>
                      
                      
                     
                      <!-- You can repeat the .vendor-row above for each vendor -->
                    </div>
                    <div class="discrepancy-resolution-row">
                        <!-- <div class="discrepancy-resolution-cell discrepancy-resolution-checkbox"><input type="checkbox" /></div> -->
                        <div class="discrepancy-resolution-cell" style="color:#0078d4 ; min-width: 140px;"><span class="text-wrap">2</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">24</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">kg</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">Veg</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">2354</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">YES</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">2354</span></div> 
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">2354</span></div> 
                        <div class="store-cell"><span class="vendor-status active">Resolve</span></div>
                        <div class="discrepancy-modal" ng-show="false">                           
                            <div class="discrepancy-modal-content">
                                <h4 style="padding: 15px 0px 10px 20px;">Resolution Action</h4>
                                <hr>
                                <div style="margin: 20px;">
                                    <label for="storeName">Resolution Type</label>
                                
                                    <select id="storeName">
                                      <option>Select Store</option>
                                      <option>Store A</option>
                                      <option>Store B</option>
                                    </select>
                                    <label for="outletName">New Adjust Qty</label>
                                    <input type="text" id="outletName" placeholder="Enter Outlet Name">
                                
                                    <label for="storeRef">Store Pref. No.</label>
                                    <select id="storeRef">
                                      <option>Approve Req.</option>
                                      <option>Yes</option>
                                      <option>No</option>
                                    </select>
                                
                                    <div class="discrepancy-modal-buttons" >
                                      <button class="outlet-save-btn" style="margin-bottom: 10px;">Submit</button>
                                      <!-- <button class="outlet-cancel-btn">Cancel</button> -->
                                    </div>
                                  </div>
                                </div>
                                   
                                

                               

                      </div>
                      <!-- popup -->
                      <div class="outlet-modal" ng-show="false">
                        <div class="outlet-modal-content">
                      
                          <label for="storeName">Resolution Type</label>
                          <select id="storeName">
                            <option>Select Store</option>
                            <option>Store A</option>
                            <option>Store B</option>
                          </select>
                      
                        
                      
                          <div class="outlet-modal-buttons">
                            <button class="outlet-save-btn">Submit</button>
                          </div>
                        </div>
                      </div>
                      <!-- <pop up></pop> -->
                      <div class="outlet-modal" ng-show="false">
                        <div class="outlet-modal-content">
                          
                          
                      
                          <label for="storeName">Resolution Type</label>
                          <select id="storeName">
                            <option>Select Store</option>
                            <option>Store A</option>
                            <option>Store B</option>
                          </select>
                          <label for="outletName">Reason For Rejection</label>
                          <input type="text" id="outletName" placeholder="Enter Outlet Name">
                          <div class="outlet-modal-buttons">
                            <button class="outlet-save-btn">Submit</button>
                          </div>
                        </div>
                      </div>
                      
                      
                     
                      <!-- You can repeat the .vendor-row above for each vendor -->
                    </div>
                    <div class="discrepancy-resolution-row">
                        <!-- <div class="discrepancy-resolution-cell discrepancy-resolution-checkbox"><input type="checkbox" /></div> -->
                        <div class="discrepancy-resolution-cell" style="color:#0078d4 ; min-width: 140px;"><span class="text-wrap">3</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">97</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">kg</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">Veg</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">2354</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">YES</span></div>
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">2354</span></div> 
                        <div class="discrepancy-resolution-cell"><span class="text-wrap">2354</span></div> 
                        <div class="store-cell"><span class="vendor-status active">Resolve</span></div>
                        <div class="discrepancy-modal" ng-show="false">                           
                            <div class="discrepancy-modal-content">
                                <h4 style="padding: 15px 0px 10px 20px;">Resolution Action</h4>
                                <hr>
                                <div style="margin: 20px;">
                                    <label for="storeName">Resolution Type</label>
                                
                                    <select id="storeName">
                                      <option>Select Store</option>
                                      <option>Store A</option>
                                      <option>Store B</option>
                                    </select>
                                    <label for="outletName">New Adjust Qty</label>
                                    <input type="text" id="outletName" placeholder="Enter Outlet Name">
                                
                                    <label for="storeRef">Store Pref. No.</label>
                                    <select id="storeRef">
                                      <option>Approve Req.</option>
                                      <option>Yes</option>
                                      <option>No</option>
                                    </select>
                                
                                    <div class="discrepancy-modal-buttons" >
                                      <button class="outlet-save-btn" style="margin-bottom: 10px;">Submit</button>
                                      <!-- <button class="outlet-cancel-btn">Cancel</button> -->
                                    </div>
                                  </div>
                                </div>
                                   
                                

                               

                      </div>
                      <!-- popup -->
                      <div class="outlet-modal" ng-show="false">
                        <div class="outlet-modal-content">
                      
                          <label for="storeName">Resolution Type</label>
                          <select id="storeName">
                            <option>Select Store</option>
                            <option>Store A</option>
                            <option>Store B</option>
                          </select>
                      
                        
                      
                          <div class="outlet-modal-buttons">
                            <button class="outlet-save-btn">Submit</button>
                          </div>
                        </div>
                      </div>
                      <!-- <pop up></pop> -->
                      <div class="outlet-modal" ng-show="false">
                        <div class="outlet-modal-content">
                          
                          
                      
                          <label for="storeName">Resolution Type</label>
                          <select id="storeName">
                            <option>Select Store</option>
                            <option>Store A</option>
                            <option>Store B</option>
                          </select>
                          <label for="outletName">Reason For Rejection</label>
                          <input type="text" id="outletName" placeholder="Enter Outlet Name">
                          <div class="outlet-modal-buttons">
                            <button class="outlet-save-btn">Submit</button>
                          </div>
                        </div>
                      </div>
                      
                      
                     
                      <!-- You can repeat the .vendor-row above for each vendor -->
                    </div>
                 
              
                  </div>
                  
                  

            </div>
            
      </div>
   </diV>
   