<div >
    <top-bar></top-bar>
  
      <div class="ssa-container">
          <div class="ssa-title">Issue Note</div>
          <div class="ssa-actions">
            <button class="ssa-btn ssa-btn-save">
                 Submit Desion
              </button>
              <button class="ssa-btn ssa-btn-save">
                Reset
              </button>
            <button class="ssa-btn ssa-btn-cancel">Cancel</button>
           
            
          </div>
      </div>
      <div  ng-controller="ConfigurationController">
          <div class="changale-tabs">
            <div class="changale-tab"
            ng-class="{active: selectedTabItem === 'items'}"
            ng-click="selectTab('items')">Issue Details</div>
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'vendor'}"
                   ng-click="selectTab('vendor')">Vendor</div> -->
                   
             
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'settings'}"
                   ng-click="selectTab('settings')">Settings</div> -->
                  
            </div>
            <div class="changale-tab-content" ng-show="selectedTabItem === 'items'">
              <div class="form-card-wrapper">
                  <div class="form-section-header"></div>
                  <div class="form-grid-item create-indent">
                    <div class="form-input-wrapper">
                      <label>Issue Note No</label>
                      <input type="text" value="1234" />                   
                    </div>
                    <div class="form-input-wrapper">
                      <label>Transfer Date</label>
                      <input type="date" value="" />                                      
                    </div>
                    <div class="form-input-wrapper">
                        <label>Requestor Name</label>
                        <input type="text" value="Sumit Sham" />
                      </div>
                      <div class="form-input-wrapper">
                        <label>Indent No.</label>
                        <input type="text" value="12345" />
                      </div>
                   
                    <div class="form-input-wrapper">
                      <label>Requesting Store</label>
                      <input type="text" value="12345" />              
                     </div>
                    <div class="form-input-wrapper">
                      <label>Supplier Store</label>
                      <input type="text" value="UK" />              
                    </div>
                    <div class="form-input-wrapper">
                        <label>Approve By</label>
                        <input type="text" value="DK" />              
                      </div>
                  </div>
              
                  <div class="form-section-header" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <span>Item Details</span>
                  </div>
                  
                  <div class="issue-note-table-wrapper">
                    <div class="issue-note-table">
                      <!-- Header Row -->
                      <div class="issue-note-row issue-note-header">
                        <!-- <div class="issue-note-cell issue-note-checkbox"><input type="checkbox" /></div> -->
                        <div class="issue-note-cell" style="min-width: 100px;"> 
                          <span>Serial No.</span>
                          
                        </div>
                        <div class="issue-note-cell"> 
                          <span> 
                            Item Name
                          </span>
                       
                        </div>
                        <div class="issue-note-cell">
                          <span> 
                           Category
                          </span>
                         
                        </div>
                        <div class="issue-note-cell">
                          <span> 
                           UOM
                          </span>
                         
                        </div>
                        <div class="issue-note-cell">
                          <span> 
                           Qty Requested
                          </span>
                        
                        </div>
                       
                        <div class="issue-note-cell">
                            <span> 
                             Avg Cost(WAM).
                            </span>
                           
                          </div>
                          <div class="issue-note-cell">
                            <span> 
                             Value(WAM).
                            </span>
                           
                          </div>
                        
                        
                        
                      </div>
                  
                      <!-- Data Row Example -->
                      <div class="issue-note-row">
                        <!-- <div class="issue-note-cell issue-note-checkbox"><input type="checkbox" /></div> -->
                        <div class="issue-note-cell" style="color:#0078d4 ; min-width: 100px;"><span class="text-wrap">1</span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <select>
                            <option>Milk</option>
                            <option>Panner</option>
                          </select> 
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="Veg" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="Kg" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="45" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="12345" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="12345" />
                        </span></div>
                       
                        
                      </div>
                      <div class="issue-note-row">
                        <!-- <div class="issue-note-cell issue-note-checkbox"><input type="checkbox" /></div> -->
                        <div class="issue-note-cell" style="color:#0078d4 ; min-width: 100px;"><span class="text-wrap">2</span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <select>
                            <option>Panner</option>
                            <option>Milk</option>
                          </select> 
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="Veg" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="Kg" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="45" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="12345" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="12345" />
                        </span></div>
                       
                        
                      </div>
                      <div class="issue-note-row">
                        <!-- <div class="issue-note-cell issue-note-checkbox"><input type="checkbox" /></div> -->
                        <div class="issue-note-cell" style="color:#0078d4 ; min-width: 100px;"><span class="text-wrap">3</span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <select>
                            <option>Milk</option>
                            <option>Panner</option>
                          </select> 
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="Veg" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="Kg" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="45" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="12345" />
                        </span></div>
                        <div class="issue-note-cell"><span class="text-wrap">                        <input type="text" value="12345" />
                        </span></div>
                       
                        
                      </div>
                      
                     
                      <!-- You can repeat the .vendor-row above for each vendor -->
                    </div>
                 
              
                  </div>
                  <div class="form-section-header"></div>
                  <div class="form-grid-item create-indent">
                    <div class="form-input-wrapper">
                      <label>Remarks</label>
                      <textarea style="min-height: 70px;"></textarea>
                    </div>
                   
                  </div>
                  

            </div>
            
      </div>
   </diV>
   