<div >
    <top-bar></top-bar>
  
      <div class="ssa-container">
          <div class="ssa-title">Material Transfer</div>
          <div class="ssa-actions">
            <button class="ssa-btn ssa-btn-save">
                Confirm & Generated Issue Note
              </button>
              <button class="ssa-btn ssa-btn-save">
                Edit
              </button>
            <button class="ssa-btn ssa-btn-cancel">Reset</button>
           
            
          </div>
      </div>
      <div  ng-controller="ConfigurationController">
          <div class="changale-tabs">
            <div class="changale-tab"
            ng-class="{active: selectedTabItem === 'items'}"
            ng-click="selectTab('items')">Material Information</div>
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'vendor'}"
                   ng-click="selectTab('vendor')">Vendor</div> -->
                   
             
              <!-- <div class="changale-tab"
                   ng-class="{active: selectedTabItem === 'settings'}"
                   ng-click="selectTab('settings')">Settings</div> -->
                  
            </div>
            <div class="changale-tab-content" ng-show="selectedTabItem === 'items'">
              <div class="form-card-wrapper">
                  <div class="form-section-header">Material Details</div>
                  <div class="form-grid-item create-indent">
                    <div class="form-input-wrapper">
                      <label>Indent No</label>
                      <input type="text" value="1234" />                   
                    </div>
                    <div class="form-input-wrapper">
                      <label>Requesting Store</label>
                      <input type="text" value="ABCD" />                                      
                    </div>
                    <div class="form-input-wrapper">
                        <label>Requesting Name</label>
                        <input type="text" value="Sumit Sham" />
                      </div>
                      <div class="form-input-wrapper">
                        <label>Requestor Data</label>
                        <input type="date" value="" />
                      </div>
                   
                    <div class="form-input-wrapper">
                      <label>Supplier Store</label>
                      <input type="text" value="Hakuna Matana" />
                                       
                     </div>
                    <div class="form-input-wrapper">
                      <label>Status</label>
                      <select>
                        <option>Pending</option>
                        <option>Sellable</option>
                      </select>
                    </div>
                  </div>
              
                  <div class="form-section-header" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <span>Item Details</span>
                    
                  </div>
                  
                  <div class="menu-item-material-transfer-table-wrapper">
                    <div class="menu-item-material-transfer-table">
                      <!-- Header Row -->
                      <div class="menu-item-material-transfer-row menu-item-material-transfer-header">
                        <!-- <div class="menu-item-material-transfer-cell menu-item-material-transfer-checkbox"><input type="checkbox" /></div> -->
                        <div class="menu-item-material-transfer-cell" style="min-width: 100px;"> 
                          <span>Serial No.</span>
                         
                        </div>
                        <div class="menu-item-material-transfer-cell"> 
                          <span> 
                            Item Name
                          </span>
                        </div>
                        <div class="menu-item-material-transfer-cell">
                          <span> 
                           Category
                          </span>
                         
                        </div>
                        <div class="menu-item-material-transfer-cell">
                          <span> 
                           UOM
                          </span>
                          
                        </div>
                        <div class="menu-item-material-transfer-cell">
                            <span> 
                             Requested Qty
                            </span>
                          
                          </div>
                        <div class="menu-item-material-transfer-cell">
                          <span> 
                           Avilable Qty
                          </span>
                        
                        </div>
                       
                          <div class="menu-item-material-transfer-cell">
                            <span> 
                                Qty to Transfer
                            </span>
                          
                          </div>
                          <div class="menu-item-material-transfer-cell">
                            <span> 
                                Batch
                            </span>
                          
                          </div>
                          <div class="menu-item-material-transfer-cell">
                            <span> 
                                Transfer Date
                            </span>
                          
                          </div>
                        
                        
                      </div>
                  
                      <!-- Data Row Example -->
                      <div class="menu-item-material-transfer-row">
                        <!-- <div class="menu-item-material-transfer-cell menu-item-material-transfer-checkbox"><input type="checkbox" /></div> -->
                        <div class="menu-item-material-transfer-cell" style="color:#0078d4 ; min-width: 100px;"><span class="text-wrap">1</span></div>
                        <div class="menu-item-material-transfer-cell"><span class="text-wrap"><select>
                            <option>Milk</option>
                            <option>Panner</option>
                          </select> </span>
                        </div>
                        <div class="menu-item-material-transfer-cell"><span class="text-wrap"><select>
                            <option>VEG</option>
                            <option>Non</option>
                          </select> </span></div>
                        <div class="menu-item-material-transfer-cell"><span class="text-wrap"><select>
                            <option>Kg</option>
                            <option>Cm</option>
                          </select></span></div>
                        <div class="menu-item-material-transfer-cell"><span class="text-wrap"> <input style="width: 80px;" type="text" value="8887" />
                        </span></div>
                        <div class="menu-item-material-transfer-cell"><span class="text-wrap"> <input style="width: 80px;" type="text" value="8887" />
                        </span></div>
                        <div class="menu-item-material-transfer-cell"><span class="text-wrap"> <input style="width: 80px;" type="text" value="8887" />
                        </span></div>
                        <div class="menu-item-material-transfer-cell"><span class="text-wrap"> <select>
                            <option>FIFO</option>
                            <option>LIFO</option>
                          </select>
                        </span></div>
                        <div class="menu-item-material-transfer-cell"><span class="text-wrap"> 
                            <input type="date" value="" />                                      

                        </span></div>
                      </div>
                 
                     
                      <!-- You can repeat the .vendor-row above for each vendor -->
                    </div>
                 
              
                  </div>
                  

            </div>
            
      </div>
   </diV>
   