<div ng-controller="ConfigurationController">
    <top-bar></top-bar>
    <form name="myForm" novalidate ng-submit="submitForm()">
  
    
        <div class="ssa-container">
            <div class="ssa-title">Add New  Recipe</div>
            <div class="ssa-actions">
              <button class="ssa-btn ssa-btn-cancel">Add Item</button>
              <button class="ssa-btn ssa-btn-save" type="submit">
                <span class="material-symbols-outlined">
                    save
                    </span> Save
              </button>
              
            </div>
        </div>
        
        <div >
            <div class="changale-tabs">
              <div class="changale-tab"
              ng-class="{active: selectedTabItem === 'items'}"
              ng-click="selectTab('items')">Recipe Information</div>
                <!-- <div class="changale-tab"
                     ng-class="{active: selectedTabItem === 'vendor'}"
                     ng-click="selectTab('vendor')">Vendor</div>
                     
               
                <div class="changale-tab"
                     ng-class="{active: selectedTabItem === 'settings'}"
                     ng-click="selectTab('settings')">Settings</div> -->
                    
              </div>
              <div class="changale-tab-content" ng-show="selectedTabItem === 'items'">
                <div class="form-card-wrapper">
                    <!-- <div class="form-section-header">Recipe  Details</div> -->
                    <div class="form-grid-item menu-item-grid">
                      <div class="form-input-wrapper">
                        <label>Recipe Name</label>
                        <input>
                      </div>
                  
                      <div class="form-input-wrapper">
                        <!-- <label>Item Name</label>
                        <select>
                          <option>Rice</option>
                          <option>Chicken</option>
                        </select> -->
                      </div>
                      <div class="form-input-wrapper">
                        <!-- <label>Category</label>
                        <select>
                          <option>Veg</option>
                          <option>Non-Veg</option> -->
                        </select>                    </div>
                        <!-- <div class="form-input-wrapper">
                            <label>Item Code</label>
                            <select>
                              <option>12344</option>
                              <option>0987</option>
                            </select>
                          </div>   -->
                         
                          <!-- <div class="form-input-wrapper">
                            <label>UOM</label>
                            <select>
                              <option>kg</option>
                              <option>pond</option>
                            </select>
                          </div> -->
                     
                      
                    
                    </div>
                    <div class="recipe-item-table-wrapper">
                      <div class="recipe-item-table">
                        <!-- Header Row -->
                        <div class="recipe-item-row recipe-item-header">
                          <div class="recipe-item-cell recipe-item-checkbox"></div>
                          <div class="recipe-item-cell"> 
                            <span> Item Name</span>
                          
                          </div>
                          <div class="recipe-item-cell"> 
                            <span> 
                              Category
                            </span>
                          
                          </div>
                          <div class="recipe-item-cell">
                            <span> 
                             Item Code
                            </span>
                          
                          </div>
                          <div class="recipe-item-cell">
                            <span> 
                             Qty
                            </span>
                            
                          </div>
                          <div class="recipe-item-cell">
                            <span> 
                             UOM
                            </span>
                          </div>
                         
                         
                          
                          
                          <!-- <div class="store-cell">Current Status</div> -->
                          
                        </div>
                    
                        <!-- Data Row Example -->
                        <div class="recipe-item-row">
                          <div class="recipe-item-cell recipe-item-checkbox"></div>
                          <div class="recipe-item-cell" style="color:#0078d4 ;"><span class="text-wrap"> <select style="width: 80px;" id="storeRef" >
                            <option></option>

                              <option>Rice</option>
                              <option>Milk</option>
                            </select></span></div>
                          <div class="recipe-item-cell"><span class="text-wrap"><select   id="storeRef" >
                              <option>Veg</option>
                              <option>Non-Veg</option>
                            </select></span></div>
                          <div class="recipe-item-cell"><span class="text-wrap"><select id="storeRef" >
                            <option>P2455</option>
                            <option>Z3242</option>
                          </select></span></div>
                          <div class="recipe-item-cell"><span class="text-wrap"><input  style="width: 80px; " value=""></span></div>
                          <div class="recipe-item-cell"><span class="text-wrap"><select  id="storeRef">
                              <option>Kg</option>
                              <option>Milk</option>
                            </select></span></div>
                          
                          <!-- <div class="store-cell"><span class="store-status active">Active</span></div> -->
                        </div>
                    
                      
                       
                     
              
                        
                       
                        <!-- You can repeat the .vendor-row above for each vendor -->
                      </div>
                    </div>
                
                    <!-- <div class="form-section-header">Vendor Details</div>
                    <div class="vendor-address-grid">
                      <div class="form-input-wrapper">
                        <label>Preferred Vendor Name</label>
                        <input type="text" value=" Vijaya Health Centre," />
                      </div>
                      <div class="form-input-wrapper">
                        <label>Purchase Price</label>
                        <input type="text" value="7000" />
                      </div>
                    </div>
                    <div class="vendor-final-row">
                     
                     
                    </div> -->
                  </div>
                  
                </form>
              </div>
             
              <div class="changale-tab-content" ng-show="selectedTabItem === 'history'">
                <h3>Hello Order History</h3>
                <p>View your past orders here.</p>
              </div>
              <div class="changale-tab-content" ng-show="selectedTabItem === 'invoices'">
                <h3>Hello Invoices</h3>
                <p>All your invoices are shown here.</p>
              </div>
              <div class="changale-tab-content" ng-show="selectedTabItem === 'settings'">
                <h3>Hello Settings</h3>
                <p>Manage your settings here.</p>
              </div>
        
        </div>
     </diV>
     