<div ng-show="true" ng-controller="ConfigurationController">
    <top-bar></top-bar>
       <div class="container">
           <div class="header">
            <div class="recipe-container">
                <h2>
                    Recipe Name: 
                  </h2>
                <div class="recipe-select-box" id="recipeSelectBox">
                  <div class="recipe-select-item">Chocolate Cake</div>
                  <div class="recipe-select-item">Pasta Alfredo</div>
                  <div class="recipe-select-item">Grilled Cheese</div>
                  <div class="recipe-select-item">Veggie Burger</div>
                  <div class="recipe-select-item">Chocolate Cake</div>
                  <div class="recipe-select-item">Chocolat</div>
                  <div class="recipe-select-item">Pasta </div>
                  <div class="recipe-select-item">Grilled Cheese</div>
                  <div class="recipe-select-item"> Burger</div>
                  <div class="recipe-select-item"> Cake</div>
                
                </div>
               
              </div>
               <div class="actions">
                   <!-- <div class="search-box-main-page">
                       <i class="fas fa-search"></i>
                       <input type="text" placeholder="Search in Recipe">
                   </div> -->
                   <!-- ng-click="goToaddRecipe()" -->
                   <button class="new-vendor" ng-click="goToaddRecipe()"  ><i class="fas fa-plus"></i> Add Recipe</button>
                   <button class="new-vendor"  ><i class="fas fa-plus"></i> Add Item</button>
                   <button class="new-vendor" ><i class="fas fa-plus"></i> Edit Item</button>

                   <div ng-controller="ConfigurationController" class="dropdown-wrapper">
                    <!-- Trigger Button -->
                    <!-- <button class="more-options" ng-click="toggleDropdown($event)">⋯</button> -->
                  
                    <!-- Dropdown Menu -->
                    <div class="dropdown-menu" ng-show="showDropdown">
                      <ul>
                        <li><a href="#" class="inline-link"><span class="material-symbols-outlined">csv</span> <span class="view-more-name">Export to CSV</span> </a></li> 
                        <li><a href="#" class="inline-link"><span class="material-symbols-outlined">publish</span><span class="view-more-name">Import Recipe</span> </a></li>
                        <li><a href="#" class="inline-link"><span class="material-symbols-outlined">
                          download
                          </span><span class="view-more-name">Download Import Format</span></a></li>
                        <li><a href="#" class="inline-link"><span class="material-symbols-outlined">
                          download
                          </span> <span class="view-more-name">Current View Export</span></a></li>
                          
                          
                      </ul>
                    </div>
                  </div>
                  
               </div>
                <!-- <div class="actions">
                 <div class="mybtn-group">
                   <div class="mybtn">
                     <span class="mybtn-icon">
                       <span class="material-symbols-outlined filter-fill-icon-edit">
                         stylus
                         </span></span>
                     Edit
                   </div>
                   <div class="mybtn">Mark as Blacklisted</div>
                   <div class="mybtn mybtn-danger">
                     <span class="mybtn-icon"><span class="material-symbols-outlined">
                       delete
                       </span></span>
                     Delete Vendor
                   </div>
                   <div class="mybtn mybtn-more">⋯</div>
                 </div>
               </div> -->
               
           </div>
       </div>
       <!-- <div class="filter-container">
           <span class="filter-label">Quick Filters :</span>
           
           <button class="filter-button">Recently Added</button>
           <button class="filter-button">Oldest</button>
          
       
           <span class="filter-icon" ng-click="toggleFilterPanel()"><span class="material-symbols-outlined">
               filter_alt
               </span></span>
           <a href="#" class="clear-all">Clear All</a>
       </div> -->
       <!-- table -->
        
       <div class="tablebody" style="margin-top: 50px;">
       
         <div class="sidebar-table">
           <a href="#">ALL</a>
           <a href="#">A</a>
           <a href="#">B</a>
           <a href="#">C</a>
           <a href="#">D</a>
           <a href="#">E</a>
           <a href="#">F</a>
           <a href="#">G</a>
           <a href="#">H</a>
           <a href="#">I</a>
           <a href="#">J</a>
           <a href="#">K</a>
           <a href="#">L</a>
           <a href="#">M</a>
           <a href="#">N</a>
           <a href="#">O</a>
           <a href="#">P</a>
           <a href="#">Q</a>
           <a href="#">R</a>
           <a href="#">S</a>
           <a href="#">T</a>
           <a href="#">U</a>
           <a href="#">V</a>
           <a href="#">W</a>
           <a href="#">X</a>
           <a href="#">Y</a>
           <a href="#">Z</a>
         </div>
       
       <!-- Table Container -->
       <div class="recipe-item-table-wrapper">
        <div class="recipe-item-table">
          <!-- Header Row -->
          <div class="recipe-item-row recipe-item-header">
            <div class="recipe-item-cell recipe-item-checkbox"><input type="checkbox" /></div>
            <div class="recipe-item-cell"> 
              <span> Item Name</span>
            
            </div>
            <div class="recipe-item-cell"> 
              <span> 
                Category
              </span>
            
            </div>
            <div class="recipe-item-cell">
              <span> 
               Item Code
              </span>
            
            </div>
            <div class="recipe-item-cell">
              <span> 
               Qty
              </span>
              
            </div>
            <div class="recipe-item-cell">
              <span> 
               UOM
              </span>
            </div>
           
           
            
            
            <!-- <div class="store-cell">Current Status</div> -->
            
          </div>
      
          <!-- Data Row Example -->
          <div class="recipe-item-row">
            <div class="recipe-item-cell recipe-item-checkbox"><input type="checkbox" /></div>
            <div class="recipe-item-cell" style="color:#0078d4 ;"><span class="text-wrap"> <select id="storeRef" disabled>
                <option>Rice</option>
                <option>Milk</option>
              </select></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><select id="storeRef" disabled>
                <option>Veg</option>
                <option>Non-Veg</option>
              </select></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><input disabled style="width: 80px; " value="P9786"></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><input disabled style="width: 80px; " value="76"></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><select disabled id="storeRef">
                <option>Kg</option>
                <option>Milk</option>
              </select></span></div>
            
            <!-- <div class="store-cell"><span class="store-status active">Active</span></div> -->
          </div>
          <div class="recipe-item-row">
            <div class="recipe-item-cell recipe-item-checkbox"><input type="checkbox" /></div>
            <div class="recipe-item-cell" style="color:#0078d4 ;"><span class="text-wrap"> <select id="storeRef" disabled>
                <option>Peas</option>
                <option>Milk</option>
              </select></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><select id="storeRef" disabled>
                <option>Gros</option>
                <option>Non-Veg</option>
              </select></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><input disabled style="width: 80px; " value="P56"></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><input disabled style="width: 80px; " value="67"></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><select disabled id="storeRef">
                <option>Kg</option>
                <option>Milk</option>
              </select></span></div>
            
            <!-- <div class="store-cell"><span class="store-status active">Active</span></div> -->
          </div>
          <div class="recipe-item-row">
            <div class="recipe-item-cell recipe-item-checkbox"><input type="checkbox" /></div>
            <div class="recipe-item-cell" style="color:#0078d4 ;"><span class="text-wrap"> <select id="storeRef" disabled>
                <option>Cardemon</option>
                <option>Milk</option>
              </select></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><select id="storeRef" disabled>
                <option>Spices</option>
                <option>Non-Veg</option>
              </select></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><input disabled style="width: 80px; " value="P98"></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><input disabled style="width: 80px; " value="86"></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><select disabled id="storeRef">
                <option>Kg</option>
                <option>Milk</option>
              </select></span></div>
            
            <!-- <div class="store-cell"><span class="store-status active">Active</span></div> -->
          </div>
          <div class="recipe-item-row">
            <div class="recipe-item-cell recipe-item-checkbox"><input type="checkbox" /></div>
            <div class="recipe-item-cell" style="color:#0078d4 ;"><span class="text-wrap"> <select id="storeRef" disabled>
                <option>Salt</option>
                <option>Milk</option>
              </select></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><select id="storeRef" disabled>
                <option>Spice</option>
                <option>Non-Veg</option>
              </select></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><input disabled style="width: 80px; " value="9045"></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><input disabled style="width: 80px; " value="12"></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><select disabled id="storeRef">
                <option>Kg</option>
                <option>Milk</option>
              </select></span></div>
            
            <!-- <div class="store-cell"><span class="store-status active">Active</span></div> -->
          </div>
          <div class="recipe-item-row">
            <div class="recipe-item-cell recipe-item-checkbox"><input type="checkbox" /></div>
            <div class="recipe-item-cell" style="color:#0078d4 ;"><span class="text-wrap"> <select id="storeRef" disabled>
                <option>Ghee</option>
                <option>Milk</option>
              </select></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><select id="storeRef" disabled>
                <option>Dairy</option>
                <option>Non-Veg</option>
              </select></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><input disabled style="width: 80px; " value="P763"></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><input disabled style="width: 80px; " value="34"></span></div>
            <div class="recipe-item-cell"><span class="text-wrap"><select disabled id="storeRef">
                <option>Lt</option>
                <option>Milk</option>
              </select></span></div>
            
            <!-- <div class="store-cell"><span class="store-status active">Active</span></div> -->
          </div>

          
         
          <!-- You can repeat the .vendor-row above for each vendor -->
        </div>
      </div>
         <div class="filter-panel-container" ng-show="isFilterPanelOpen">
               <div class="filter-panel-header">
                 <div class="filter-panel-title">
                   <span style="margin-right: 8px;" class="material-symbols-outlined filter-fill-icon">
                       filter_alt
                       </span>
                   Filters
                 </div>
                 <div class="filter-panel-close">
                   <i class="fas fa-times"></i>
                 </div>
               </div>
           
       <div class="main-filter-panel-section" >
           <div class="filter-panel-section">
               <h4>DEMOGRAPHICS</h4>
               <label class="filter-panel-label" for="location">Location</label>
               <select class="filter-panel-select" id="location">
                 <option>Select State</option>
               </select>
             </div>
         
             <div class="filter-panel-section">
               <h4>SYSTEM STATUS</h4>
               <label class="filter-panel-label" for="current-status">Current Status</label>
               <select class="filter-panel-select" id="current-status">
                 <option>Select Current Status</option>
               </select>
         
               <label class="filter-panel-label" for="blacklisted-status">Blacklisted Status</label>
               <select class="filter-panel-select" id="blacklisted-status">
                 <option>Select Blacklisted Status</option>
               </select>
             </div>
         
             <div class="filter-panel-section">
               <h4>CONTRACT EXPIRY DATE RANGE</h4>
               <div class="filter-panel-date-row">
                 <div class="filter-panel-date-column">
                   <label class="filter-panel-label" for="start-date">Start Date</label>
                   <input class="filter-panel-input" type="text" id="start-date" placeholder="dd/mm/yyyy" />
                 </div>
                 <div class="filter-panel-date-column">
                   <label class="filter-panel-label" for="end-date">End Date</label>
                   <input class="filter-panel-input" type="text" id="end-date" placeholder="dd/mm/yyyy" />
                 </div>
               </div>
             </div>
             
       </div>
           
         </div>
       </div>
   
   </div>